* {
  box-sizing: border-box;
  margin: 0;
}
.counter {
  margin: auto;
  color: wheat;
  text-align: center;
  width: 100%;
  /*height: 100%;*/
  /*height: calc(0.664 * 100vw);*/
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.contents {
  color: wheat;
  font-size: 18px;
  padding-top: 40px;
  text-align: center;
}
.boxes {
  height: 100%;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.same-properties {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: gray;
  float: left;
  margin-right: 10px;
  color: white;
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
  font-weight: bolder;
}
.one-box {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  align-items: center;
  display: inline-flex;
  place-content: center;
  position: absolute;
  bottom: 40px;
  font-family: cursive;
}

@media screen and (max-width: 450px) {
  .same-properties {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: gray;
    float: left;
    margin-right: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    font-weight: bolder;
  }

  .one-box {
    bottom: 25px;
  }
}
